nav{
    background-color: #9F8469;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.125rem;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(159, 132, 105, 0.85);
    backdrop-filter: blur(5px);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

nav .left a{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.625rem;
}

nav .right a:hover{
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

